body {
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 600px;
	margin: 50px auto;
	position: relative;
}

.container > div {
	margin-right: 100px;
	margin-left: 100px;
}

canvas {
	border: 2px solid grey;
	margin: auto;
}

.start-menu {
	width: 400px;
	height: 200px;
	position: absolute;
	top: 25%;
}

.start-menu > button {
	width: 115px;
	height: 40px;
	color: white;
	font-size: 1rem;
	border: none;
	box-shadow: 0 3px 0  rgba(0, 0, 0, 1);
	position: absolute;
}

.start-menu > button:hover {
	cursor: pointer;
	opacity: 0.8;
}

.start-menu > button:active {
	box-shadow: none;
	transform: scale(0.98);
}

.start-menu > button:focus {
	outline: none;
}

#start-btn {
	background-color: #479aff;
	left: calc(50% - 57.5px);
}

#help-btn {
	background-color: #e3ad4f;
	top: 60px;
	left: calc(50% - 57.5px);
}

.score-level-container {
	width: 300px;
	height: 50px;
	padding-left: 50px;
	padding-right: 50px;
	border: 1px solid lightgrey;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-between;
}

.score-level-container > p {
	font-size: 1.1rem;
}

.score-level-container > p > span {
	font-weight: bold;
}

#count-down {
	width: 20%;
	font-size: 85px;
	position: absolute;
	top: calc(50% - 12.5px);
	left: 40%;
	text-align: center;
	color: darkgrey;
}
















