body {
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 600px;
	margin: 50px auto;
	position: relative;
}

.container > div {
	margin-right: 100px;
	margin-left: 100px;
}

canvas {
	border: 2px solid grey;
	margin: auto;
}

.start-menu {
	width: 400px;
	height: 200px;
	position: absolute;
	top: 25%;
}

.start-menu > button, 
.game-over-container > button {
	width: 115px;
	height: 40px;
	color: white;
	font-size: 1rem;
	border: none;
	position: absolute;
}

.start-menu > button:hover,
.game-over-container > button:hover {
	cursor: pointer;
	opacity: 0.8;
}

.start-menu > button:active, 
.game-over-container > button:active {
	transform: scale(0.98);
}

.start-menu > button:focus, 
.game-over-container > button:focus  {
	outline: none;
}

#start-btn {
	background-color: green;
	left: calc(50% - 57.5px);
}

#help-btn {
	background-color: red;
	top: 60px;
	left: calc(50% - 57.5px);
}

.score-level-container {
	display: none;
}

.score-level-container {
	width: 300px;
	height: 50px;
	padding-left: 50px;
	padding-right: 50px;
	border: 1px solid lightgrey;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-between;
}

.score-level-container > p {
	font-size: 1.1rem;
}

.score-level-container > p > span {
	font-weight: bold;
}

#count-down,
#level-popup {
	width: 20%;
	font-size: 85px;
	position: absolute;
	top: calc(50% - 12.5px);
	left: 40%;
	text-align: center;
	color: darkgrey;
}

#level-popup {
	display: none;
	font-size: 35px!important;
}

.game-over-container {
	display: none;
	width: 400px;
	text-align: center;
	position: absolute;
	top: 20%;
}

.game-over-container > h3 {
	text-align: center;
	font-size: 30px;
}

#play-again-btn {
	background-color: green;
	margin-top: 10px;
	left: 20%;
}

#start-screen-btn {
	background-color: red;
	margin-top: 10px;
	right: 20%;
}














